{
  "plugins": [
    "security",
    "mocha",
    "node"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:security/recommended",
    "plugin:mocha/recommended",
    "plugin:node/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}
